spring:
  profiles:
    active: dev
  application:
    name: fms-refund

#分页pageHelper
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true

mybatis:
  #mysql 环境
  mapperLocations: classpath:mysql/com/ddky/books/*.xml, classpath:mysql/com/ddky/images/*.xml, classpath:mysql/com/ddky/students/*.xml, classpath:mysql/com/ddky/userlogs/*.xml, classpath:mysql/com/ddky/term/*.xml, classpath:mysql/com/ddky/exam/*.xml, classpath:mysql/com/ddky/admin/*.xml
logging:
  config: classpath:log4j2.xml
  level:
    com.ddky.fms.refund.mapper: trace