<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30" strict="true">

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!--控制台只输出level及其以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8" pattern="%d [%t] %-5level - %msg [%C.%M():%L]%n"/>
        </Console>

        <!--druid的日志记录追加器-->
        <RollingRandomAccessFile name="druidSqlRollingFile" fileName="../druid-sql.log"
                                 filePattern="../druid-sql-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="%d [%t] %-5level - %msg [%C.%M():%L]%n"/>
        </RollingRandomAccessFile>


    </Appenders>

    <Loggers>
        <!-- 开发环境使用 -->
        <Root level="info" includeLocation="true" additivity="true">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="druidSqlRollingFile"/>
        </Root>

        <logger name="druidSqlRollingFile" level="info" additivity="true">
            <AppenderRef ref="druidSqlRollingFile"/>
        </logger>
    </Loggers>

</Configuration>