<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.students.ClassInfoMapper">

    <sql id="column">
        classId, name, type, createTime
    </sql>

    <sql id="where">
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.students.entry.ClassInfo">
        select
            <include refid="column" />
        from stu_class_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.students.entry.ClassInfo">
        select
            <include refid="column" />
        from stu_class_info
        <where>
            classId = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.students.entry.ClassInfo">
        insert into stu_class_info (name, type) values (#{name}, #{type})
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.students.entry.ClassInfo">
        update stu_class_info
        <set>
            <if test="name != null">
                name = #{name}
            </if>
        </set>
        <where>
            classId = #{gradeId}
        </where>
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into stu_class_info (name, type)
            values (#{item.name}, #{item.type})
        </foreach>
    </insert>

    <delete id="delete" parameterType="integer">
        delete from stu_class_info where classId=#{id}
    </delete>

</mapper>