<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.students.GuardianInfoMapper">

    <sql id="column">
        id, phone, userName, passWord, regType, regDate, headImage, areaId, roleId, sex, birthDay, realName
    </sql>

    <sql id="where">
        <if test="phone != null">and  phone = #{phone} </if>
        <if test="userName != null">and  userName = #{userName} </if>
        <if test="regType != null">and  regType = #{regType} </if>
        <if test="areaId != null">and  areaId = #{areaId} </if>
        <if test="roleId != null">and  roleId = #{roleId} </if>
        <if test="sex != null">and  sex = #{sex} </if>
        <if test="realName != null">and  realName = #{realName} </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        select
            <include refid="column" />
        from stu_guardian_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findOne" resultType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        select
        <include refid="column" />
        from stu_guardian_info
        <where>
            <include refid="where" />
        </where>
        limit 1
    </select>

    <select id="listByPhoneList" parameterType="java.util.List" resultType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        select
        <include refid="column" />
        from stu_guardian_info
        <where>
            phone in (
            <foreach collection="list" index="index" item="item" separator=",">
                #{item}
            </foreach>)
        </where>
    </select>

    <select id="listByUserNameList" parameterType="java.util.List" resultType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        select
        <include refid="column" />
        from stu_guardian_info
        <where>
            userName in (
            <foreach collection="list" index="index" item="item" separator=",">
                #{item}
            </foreach>)
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        select
            <include refid="column" />
        from stu_guardian_info
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        insert into stu_guardian_info (phone, userName, passWord, regType, headImage, areaId, roleId, sex, birthDay, realName)
        values (#{phone}, #{userName}, #{passWord}, #{regType}, #{headImage}, #{areaId}, #{roleId}, #{sex}, #{birthDay}, #{realName})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into stu_guardian_info (phone, userName, passWord, regType, headImage, areaId, roleId, sex, birthDay, realName)
            values (#{item.phone}, #{item.userName}, #{item.passWord}, #{item.regType}, #{item.headImage}, #{item.areaId}, #{item.roleId},
            #{item.sex}, #{item.birthDay}, #{item.realName})
        </foreach>
    </insert>

    <update id="edit" parameterType="com.ddky.fms.refund.model.students.entry.GuardianInfo">
        update stu_guardian_info
        <set>
            <if test="phone != null">  phone = #{phone}, </if>
            <if test="userName != null">  userName = #{userName}, </if>
            <if test="regType != null">  regType = #{regType}, </if>
            <if test="areaId != null">  areaId = #{areaId}, </if>
            <if test="roleId != null">  roleId = #{roleId}, </if>
            <if test="sex != null">  sex = #{sex}, </if>
            <if test="realName != null">  realName = #{realName}, </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    
    <delete id="delete" parameterType="java.util.List">
        delete from stu_guardian_info where id in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

</mapper>