<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.students.SchoolInfoMapper">

    <sql id="column">
        schoolId, name, headImage, shortName, pinyin, address, country, areaId, weight, createDate
    </sql>

    <sql id="where">
        <if test="name != null and !name.equals('')">
            and name = #{name}
        </if>
        <if test="shortName != null">
            and shortName = #{shortName}
        </if>
        <if test="country != null">
            and country = #{country}
        </if>
        <if test="areaId != null">
            and areaId = #{areaId}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        select
            <include refid="column" />
        from stu_school_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        select
            <include refid="column" />
        from stu_school_info
        <where>
            schoolId = #{id}
        </where>
    </select>

    <select id="findByIds" resultType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        select
        <include refid="column" />
        from stu_school_info
        <where>
            schoolId in (
            <foreach collection="idList" index="index" item="item" separator=",">
                #{item}
            </foreach>)
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        insert into stu_school_info (name, headImage, shortName, pinyin, address, country, areaId, createDate, weight, href)
        values (#{name}, #{headImage}, #{shortName}, #{pinyin}, #{address}, #{country}, #{areaId}, UNIX_TIMESTAMP(), #{weight}, #{href})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into stu_school_info (name, headImage, shortName, pinyin, address, country, areaId, createDate, weight, href)
            values (#{item.name}, #{item.headImage}, #{item.shortName}, #{item.pinyin}, #{item.address}, #{item.country}, #{item.areaId}, UNIX_TIMESTAMP(), #{item.weight}, #{item.href})
        </foreach>
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        update stu_school_info
        <set>
            <if test="name != null">  name = #{name}, </if>
            <if test="headImage != null">  headImage = #{headImage}, </if>
            <if test="shortName != null">  shortName = #{shortName}, </if>
            <if test="pinyin != null">  pinyin = #{pinyin}, </if>
            <if test="address != null">  address = #{address}, </if>
            <if test="country != null">  country = #{country}, </if>
            <if test="areaId != null">  areaId = #{areaId}, </if>
            <if test="weight != null">  weight = #{weight}, </if>
        </set>
        <where>
            schoolId = #{schoolId}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from stu_school_info where schoolId in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

</mapper>