<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.students.SchoolInfoMapper">

    <sql id="column">
        schoolId, name, shortName, pinyin, address, country, province, city, town, createDate
    </sql>

    <sql id="where">
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="shortName != null">
            and shortName = #{shortName}
        </if>
        <if test="country != null">
            and country = #{country}
        </if>
        <if test="province != null">
            and province = #{province}
        </if>
        <if test="city != null">
            and city = #{city}
        </if>
        <if test="town != null">
            and town = #{town}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        select
            <include refid="column" />
        from stu_school_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        select
            <include refid="column" />
        from stu_school_info
        <where>
            schoolId = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.students.entry.SchoolInfo">
        insert into stu_school_info (name, shortName, pinyin, address, country, province, city, town, createDate, weight, href)
        values (#{name}, #{shortName}, #{pinyin}, #{address}, #{country}, #{province}, #{city}, #{town}, now(), #{weight}, #{href})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into stu_school_info (name, shortName, pinyin, address, country, province, city, town, createDate, weight, href)
            values (#{item.name}, #{item.shortName}, #{item.pinyin}, #{item.address}, #{item.country}, #{item.province}, #{item.city}, #{item.town}, now(), #{item.weight}, #{item.href})
        </foreach>
    </insert>

</mapper>