<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.books.BookInfoMapper">

    <sql id="column">
        bookId, bookName, shortName, pinYin, publisher, version, theYear, coverImage, cipImage, subjectId, gradeId, createDate, volume, elective
    </sql>

    <sql id="where">
        <if test="bookName != null">
            and bookName = #{bookName}
        </if>
        <if test="shortName != null">
            and shortName = #{shortName}
        </if>
        <if test="publisher != null">
            and publisher = #{publisher}
        </if>
        <if test="theYear != null and theYear != 0">
            and theYear = #{theYear}
        </if>
        <if test="subjectId != null">
            and subjectId = #{subjectId}
        </if>
        <if test="gradeId != null">
            and gradeId = #{gradeId}
        </if>
        <if test="volume != null">
            and volume = #{volume}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.books.entry.BookInfo">
        select
            <include refid="column" />
        from bok_book_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.books.entry.BookInfo">
        select
            <include refid="column" />
        from bok_book_info
        <where>
            bookId = #{bookId}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.books.entry.BookInfo">
        insert into bok_book_info (bookName, shortName, pinYin, publisher, version, theYear, coverImage, cipImage, subjectId, gradeId, createDate, volume, elective)
        values (#{bookName}, #{shortName}, #{pinYin}, #{publisher}, #{version}, #{theYear}, #{coverImage}, #{cipImage}, #{subjectId}, #{gradeId}, UNIX_TIMESTAMP(), #{volume}, #{elective})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into bok_book_info (bookName, shortName, pinYin, publisher, version, theYear, coverImage, cipImage, subjectId, gradeId, createDate, volume, elective)
            values (#{item.bookName}, #{item.shortName}, #{item.pinYin}, #{item.publisher}, #{item.version}, #{item.theYear}, #{item.coverImage}, #{item.cipImage},
            #{item.subjectId}, #{item.gradeId}, UNIX_TIMESTAMP(), #{item.volume}, #{item.elective})
        </foreach>
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.books.entry.BookInfo">
        update bok_book_info
        <set>
            <if test="bookName != null">  bookName = #{bookName}, </if>
            <if test="shortName != null">  shortName = #{shortName}, </if>
            <if test="pinYin != null">  pinYin = #{pinYin}, </if>
            <if test="publisher != null">  publisher = #{publisher}, </if>
            <if test="version != null">  version = #{version}, </if>
            <if test="theYear != null">  theYear = #{theYear}, </if>
            <if test="coverImage != null">  coverImage = #{coverImage}, </if>
            <if test="cipImage != null">  cipImage = #{cipImage}, </if>
            <if test="gradeId != null">  gradeId = #{gradeId}, </if>
            <if test="subjectId != null">  subjectId = #{subjectId}, </if>
        </set>
        <where>
            bookId = #{bookId}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from bok_book_info where bookId in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

</mapper>