<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.books.SubjectInfoMapper">

    <sql id="column">
        subjectId, name, orderNo
    </sql>

    <sql id="where">
        <if test="name != null">
            name = #{name}
        </if>
        <if test="orderNo != null">
            orderNo = #{orderNo}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.books.SubjectInfo">
        select
            <include refid="column" />
        from stu_grade_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.books.SubjectInfo">
        select
            <include refid="column" />
        from stu_grade_info
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.books.SubjectInfo">
        insert into stu_grade_info (name, orderNo) values (#{name}, #{orderNo})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into stu_grade_info (name, orderNo)
            values (#{item.name}, #{item.orderNo})
        </foreach>
    </insert>

</mapper>