<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.books.VersionTypeMapper">

    <sql id="column">
        verId, name, orderNo
    </sql>

    <sql id="where">
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="orderNo != null">
            and orderNo = #{orderNo}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.books.entry.VersionType">
        select
            <include refid="column" />
        from bok_version_type
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.books.entry.VersionType">
        select
            <include refid="column" />
        from bok_version_type
        <where>
            verId = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.books.entry.VersionType">
        insert into bok_version_type (name, orderNo) values (#{name}, #{orderNo})
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.books.entry.VersionType">
        update bok_version_type
        <set>
            <if test="name != null">
                name = #{name},
            </if>
        </set>
        <where>
            verId = #{verId}
        </where>
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into bok_version_type (name, orderNo)
            values (#{item.name}, #{item.orderNo})
        </foreach>
    </insert>

    <delete id="delete" parameterType="java.util.List">
        delete from bok_version_type where verId in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

</mapper>