<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.exam.AskQuestionMapper">

    <sql id="column">
        id, subjectId, gradeId, title, examScope, creatorId, answers, createTime, updateTime
    </sql>

    <sql id="where">
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="subjectId != null">
            and subjectId = #{subjectId}
        </if>
        <if test="gradeId != null">
            and gradeId = #{gradeId}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.exam.entry.AskQuestion">
        select
            <include refid="column" />
        from exam_ask_questions
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.exam.entry.AskQuestion">
        select
            <include refid="column" />
        from exam_ask_questions
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.exam.entry.AskQuestion">
        insert into exam_ask_questions (subjectId, gradeId, title, examScope, creatorId, answers)
        values (#{subjectId}, #{gradeId}, #{title}, #{examScope}, #{creatorId}, #{answers})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into exam_ask_questions (subjectId, gradeId, title, examScope, creatorId, answers)
            values (#{item.subjectId}, #{item.gradeId}, #{item.title}, #{item.examScope}, #{item.creatorId}, #{item.answers})
        </foreach>
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.exam.entry.AskQuestion">
        update exam_ask_questions
        <set>
            <if test="subjectId != null">  subjectId = #{subjectId}, </if>
            <if test="gradeId != null">  gradeId = #{gradeId}, </if>
            <if test="title != null">  title = #{title}, </if>
            <if test="examScope != null">  examScope = #{examScope}, </if>
            <if test="creatorId != null">  creatorId = #{creatorId}, </if>
            <if test="answers != null">  answers = #{answers}, </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from exam_ask_questions where id in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>
</mapper>