<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.exam.MultiSelectMapper">

    <sql id="column">
        id, subjectId, gradeId, title, creatorId, createTime, updateTime
    </sql>

    <sql id="where">
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="subjectId != null">
            and subjectId = #{subjectId}
        </if>
        <if test="gradeId != null">
            and gradeId = #{gradeId}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.exam.entry.MultiSelectQuestion">
        select
            <include refid="column" />
        from exam_multi_select
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.exam.entry.MultiSelectQuestion">
        select
            <include refid="column" />
        from exam_multi_select
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.ddky.fms.refund.model.exam.entry.MultiSelectQuestion">
        insert into exam_multi_select (subjectId, gradeId, title, creatorId)
        values (#{subjectId}, #{gradeId}, #{title}, #{creatorId})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into exam_multi_select (subjectId, gradeId, title, creatorId)
            values (#{item.subjectId}, #{item.gradeId}, #{item.title}, #{item.creatorId})
        </foreach>
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.exam.entry.MultiSelectQuestion">
        update exam_multi_select
        <set>
            <if test="subjectId != null">  subjectId = #{subjectId}, </if>
            <if test="gradeId != null">  gradeId = #{gradeId}, </if>
            <if test="title != null">  title = #{title}, </if>
            <if test="creatorId != null">  creatorId = #{creatorId}, </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from exam_multi_select where id in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

</mapper>