<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.exam.PageResultInfoMapper">

    <sql id="column">
        id, examPageId, userId, questionId, answers, isRight, score, state, createTime
    </sql>

    <sql id="where">
        <if test="examPageId != null">
            and examPageId = #{examPageId}
        </if>
        <if test="score != null">
            and score = #{score}
        </if>
        <if test="userId != null">
            and userId = #{userId}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.exam.entry.PageResultInfo">
        select
            <include refid="column" />
        from exam_page_result_info
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.exam.entry.PageResultInfo">
        select
            <include refid="column" />
        from exam_page_result_info
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.exam.entry.PageResultInfo">
        insert into exam_page_result_info (examPageId, userId, questionId, answers, isRight, score, state)
        values (#{examPageId}, #{userId}, #{questionId}, #{answers}, #{isRight}, #{score}, #{state})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into exam_page_result_info (examPageId, userId, questionId, answers, isRight, score, state)
            values (#{item.examPageId}, #{item.userId}, #{item.questionId}, #{item.answers}, #{item.isRight}, #{item.score}, #{item.state})
        </foreach>
    </insert>

</mapper>