<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.exam.PaperProctorMapper">

    <sql id="column">
        id, examPageId, userId, createTime
    </sql>

    <sql id="where">
        <if test="examPageId != null">
            and examPageId = #{examPageId}
        </if>
        <if test="score != null">
            and score = #{score}
        </if>
        <if test="userId != null">
            and userId = #{userId}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.exam.entry.PaperProctor">
        select
            <include refid="column" />
        from exam_paper_users
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.exam.entry.PaperProctor">
        select
            <include refid="column" />
        from exam_paper_users
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.exam.entry.PaperProctor">
        insert into exam_paper_users (examPageId, userId, state)
        values (#{examPageId}, #{userId}, #{state})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into exam_paper_users (examPageId, userId, state)
            values (#{item.examPageId}, #{item.userId}, #{item.state})
        </foreach>
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.exam.entry.PaperProctor">
        update exam_paper_users
        <set>
            <if test="examPageId != null">  examPageId = #{examPageId}, </if>
            <if test="userId != null">  userId = #{userId}, </if>
            <if test="state != null">  state = #{state}, </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from exam_paper_users where id in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

</mapper>