<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddky.fms.refund.mapper.exam.SelectQuestionOptionMapper">

    <sql id="column">
        id, questionId, title, state, createTime, updateTime
    </sql>

    <sql id="where">
        <if test="questionId != null">
            and questionId = #{questionId}
        </if>
        <if test="title != null">
            and title = #{title}
        </if>
    </sql>

    <select id="list" resultType="com.ddky.fms.refund.model.exam.entry.SelectQuestionOption">
        select
            <include refid="column" />
        from exam_select_question_options
        <where>
            <include refid="where" />
        </where>
    </select>

    <select id="listByQuestionId" resultType="com.ddky.fms.refund.model.exam.entry.SelectQuestionOption">
        select
        <include refid="column" />
        from exam_select_question_options
        <where>
            questionId = #{questionId}
        </where>
    </select>

    <select id="listByQuestionIds" resultType="com.ddky.fms.refund.model.exam.entry.SelectQuestionOption">
        select
        <include refid="column" />
        from exam_select_question_options
        <where>
            questionId in
            (<foreach collection="idList" index="index" item="item" separator=",">
                #{item}
            </foreach>)
        </where>
    </select>

    <select id="findById" resultType="com.ddky.fms.refund.model.exam.entry.SelectQuestionOption">
        select
            <include refid="column" />
        from exam_select_question_options
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.ddky.fms.refund.model.exam.entry.SelectQuestionOption">
        insert into exam_select_question_options (title, questionId) values (#{title}, #{questionId})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into exam_select_question_options (title, questionId)
            values (#{item.title}, #{item.questionId})
        </foreach>
    </insert>

    <update id="update" parameterType="com.ddky.fms.refund.model.exam.entry.SelectQuestionOption">
        update exam_select_question_options
        <set>
            <if test="title != null">  title = #{title}, </if>
            <if test="questionId != null">  questionId = #{questionId}, </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete" parameterType="java.util.List">
        delete from exam_select_question_options where id in (
        <foreach collection="idList" index="index" item="item" separator=",">
            #{item}
        </foreach>)
    </delete>

    <delete id="deleteByQuestionId">
        delete from exam_select_question_options where questionId=#{questionId}
    </delete>

</mapper>